<!-- _home_about.html -->
{# [DC Source] О компании #}
{% load static %}
<section class="about-inner">
  <div class="container-home">
    <div class="row justify-content-center align-items-center gy-4">
      <div>
        <h1 class="mb-4 section-title" style="margin-bottom: 2rem !important;">DC Source</h1>
      </div>
      <!-- [DC Source][NEW] Двухколоночная секция: слева изображение, справа текстовый блок -->
      <div class="col-md-6 col-12 d-flex justify-content-center">
        <!-- [DC Source][NEW] Картинка about секции (_home_about.jpg) -->
        <img src="{% static 'images/home/_home_about.jpg' %}" alt="PACS Akgun" class="img-crop-vertical">
      </div>
      <div class="col-md-6 col-12">
        <!-- [DC Source][NEW] Подзаголовок -->
        <h5 class="mb-3" style="font-weight:700;">Цифровая медицина и техническая поддержка для здравоохранения Казахстана</h5>
        <!-- [DC Source][NEW] Описание компании -->
        <h5 class="mb-3" style="font-weight:300;">DC Source — компания, специализирующаяся на внедрении медицинских IT-решений и сопровождении учреждений здравоохранения. Мы предлагаем проверенные технологии для цифровизации <abbr class="dc-abbr" data-bs-toggle="tooltip" data-bs-placement="top" title="Лечебно-профилактическое учреждение">ЛПУ</abbr>:
          <abbr class="dc-abbr" data-bs-toggle="tooltip" data-bs-placement="top" title="Система архивирования и передачи изображений">PACS</abbr>,
          <abbr class="dc-abbr" data-bs-toggle="tooltip" data-bs-placement="top" title="Медицинская информационная система">МИС</abbr>,
          <abbr class="dc-abbr" data-bs-toggle="tooltip" data-bs-placement="top" title="Лабораторная информационная система">ЛИС</abbr>, а также полный цикл технической поддержки.
        </h5>
        <h5 class="mb-3" style="font-weight:300;">Работаем с государственными и частными организациями по всей стране. Наши решения соответствуют требованиям Министерства здравоохранения РК и интегрируются с национальными системами (<abbr class="dc-abbr" data-bs-toggle="tooltip" data-bs-placement="top" title="Регистр прикрепленного населения">РПН</abbr>).</h5>
      </div>
    </div>
  </div>
</section>