<!-- _home_description.html -->
{# [DC Source] О Нас #}
{% load static %}
<section class="description-inner">
  <div class="container-home">
    <div class="row justify-content-center">
      <!-- [DC Source][NEW] Заголовок секции по макету -->
      <div class="col-12">
        <h1 class="mb-4 section-title" style="margin-bottom: 2rem !important;">О нас</h1>
      </div>
    </div>
    <!-- [DC Source][NEW] Четыре карточки описания по макету -->
    <div class="row about-desc-row gx-4 gy-3 justify-content-center">
      <div class="col-md-6 col-12 d-flex">
        <div class="about-desc-card">
          100+ внедренных проектов<br>в сфере здравоохранения
        </div>
      </div>
      <div class="col-md-6 col-12 d-flex">
        <div class="about-desc-card">
          3,3 млн пользователей<br>в 6 областях Казахстана
        </div>
      </div>
      <div class="col-md-6 col-12 d-flex">
        <div class="about-desc-card">
          Первая казахстанская компания,<br>внедрившая ИИ в диагностику
        </div>
      </div>
      <div class="col-md-6 col-12 d-flex">
        <div class="about-desc-card">
          Партнер международной компании<br>Akgun (Турция)
        </div>
      </div>
    </div>
  </div>
</section>