<!-- _home_statistics.html -->
{# [DC Source] Статистика (три блока с каунтером) #}

<!-- [DC Source] ДОРАБОТАНО: Статистика с тремя карточками -->
<section class="statistics-inner">
  <div class="container-home">
    <div class="row justify-content-center gy-4">
      <!-- [DC Source] Карточка 1 -->
      <div class="col-12 col-md-6 col-lg-3 d-flex">
        <div class="stat-block mx-auto">
          <div class="stat-header">
            <span class="stat-dots">.::</span>
            <span class="stat-number"><span class="stat-counter" data-target="10">0</span><span class="stat-plus">+</span></span>
          </div>
          <div class="stat-title">успешных лет</div>
          <div class="stat-desc">
            в реализации IT-проектов в частном и государственном секторах
          </div>
        </div>
      </div>
      <!-- Карточка 2 -->
      <div class="col-12 col-md-6 col-lg-3 d-flex">
        <div class="stat-block mx-auto">
          <div class="stat-header">
            <span class="stat-dots">.::</span>
            <span class="stat-number"><span class="stat-counter" data-target="50">0</span><span class="stat-plus">+</span></span>
          </div>
          <div class="stat-title">довольных клиентов</div>
          <div class="stat-desc">
            постоянно или периодически пользующихся услугами нашей компании
          </div>
        </div>
      </div>
      <!-- Карточка 3 -->
      <div class="col-12 col-md-6 col-lg-3 d-flex">
        <div class="stat-block mx-auto">
          <div class="stat-header">
            <span class="stat-dots">.::</span>
            <span class="stat-number"><span class="stat-counter" data-target="15">0</span><span class="stat-plus">+</span></span>
          </div>
          <div class="stat-title">специалистов</div>
          <div class="stat-desc">
            высшей категории в области построения ИТ-инфраструктуры
          </div>
        </div>
      </div>
      <!-- Карточка 4 -->
      <div class="col-12 col-md-6 col-lg-3 d-flex">
        <div class="stat-block mx-auto">
          <div class="stat-header">
            <span class="stat-dots">.::</span>
            <span class="stat-number"><span class="stat-counter" data-target="25">0</span><span class="stat-plus">+</span></span>
          </div>
          <div class="stat-title">специалистов</div>
          <div class="stat-desc">
            технической поддержки всех уровней
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [DC Source] Скошенный низ (клип) -->
  <div class="statistics-angled"></div>
</section>