<!--menu_mobile.html-->

<!-- [DC Source] Мобильное меню: полноэкранное, вложенные пункты раскрываются inline -->
<div class="mobile-menu hide d-lg-none" id="mobileMenu">
  <button class="mobile-menu-close" id="mobileMenuCloseBtn" aria-label="Закрыть меню">&times;</button>
  <ul class="mobile-menu-list">
    <li>
      <a href="{% url 'home' %}" class="mobile-menu-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">Главная</a>
    </li>
    {% for section in dynamic_menu %}
      <li>
        <button class="mobile-menu-link" type="button" data-target="#{{ section.folder }}Submenu">
          {{ section.section_title }}
        </button>
        <ul class="mobile-submenu" id="{{ section.folder }}Submenu">
          {% for page in section.pages %}
            <li>
              <a href="{{ page.url }}" class="mobile-menu-link">{{ page.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
    {% if user.is_authenticated %}
      <li>
        <a href="#" class="mobile-menu-link" style="cursor:default;">{{ user.email }}</a>
      </li>
      <li>
        <a href="{% url 'account_change_password' %}" class="mobile-menu-link">Сменить пароль</a>
      </li>
      <li>
        <a href="{% url 'account_logout' %}" class="mobile-menu-link">Выйти</a>
      </li>
    {% else %}
      <li>
        <a href="{% url 'account_login' %}" class="mobile-menu-link">Войти</a>
      </li>
      <li>
        <a href="{% url 'account_signup' %}" class="mobile-menu-link">Зарегистрироваться</a>
      </li>
    {% endif %}
  </ul>
</div>